.cajaprecios {
	position: relative;
	top: 0.73px;
	width: all;
	height: 36.60vw;
	background-color: #9cab64;
	border: 1px solid black;
}

.boxuno {
	height: 18.30vw;
	width: 10.98vw;
	background-color: red;
	position: absolute;
}

.boxdos {
	height: 400px;
	width: 300px;
	background-color: #E6FF8A;
	position: absolute;
	left: 38.5%;
	top: 11%;
}

.boxtres {
	height: 18.3vw;
	width: 10.98vw;
	background-color: yellow;
	position: absolute;
}

.packocho {
	width: 300px;
	height: 250px;
}