html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: grey;
}
html {
	font-family: "helvetica neue", sans-serif;
}
.nav {
	border-bottom: 1px solid #EAEAEB;
	text-align: right;
	height: 9vw;
	line-height: 70px;
	background-color: #EA463D;
	border: 2px solid black;
}
.menu {
	margin: 0 30px 0 0;
}
.menu a {
	text-decoration: none;
	color: white;
	margin: 0 10px;
	line-height: 70px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
}
span {
	color: #54D17A;
}
label {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
}
#toggle {
	display: none;
}
.titulo {
	float: left;
	top: 2vw;
	left: 5vw;
	font-size: 6vw;
	color: #F7D8A8;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
}
h2 {
	 text-align: center;
}
.texto {
	margin: 5vw;
	text-align: left;
	line-height: 20px;
	border: 1px solid black;
	background-color: #FE9329;
}
.especial{
	margin: 1.25vw;
}
.chicken {
	text-align: center;
	font-size: 3.1vw;
	margin: 1vw;
	background-color: #FE9329;
	color: #F7D8A8;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
}
/*LAPTOP*/
@media (min-width: 1024px) {
	h2 {
		position: relative;
		top: 10vw;
		left: -14vw;
		font-size: 5vw;
	}
	.texto {
		text-align: center;
		position: relative;
		top: 10vw;
	}
	.menu {
		display: none;
	}
}
/*TABLET Y SMALL*/
@media (min-width: 0) and (max-width: 1023px) {
	label {
		display: block;
		cursor: pointer;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a {
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
	}
	#toggle:checked + .menu {
		display: block;
	}
} 