/* Esto es el cabezal*/

* {
	box-sizing: 0px;
	margin: 0px;
	padding: 0px;
    background-color: #E6FF8A;
}
.logocentral {
    position: center;
}

.titulocabezal {
	color: white;
	font-size: 6vw;
	font-family: 'Dancing Script', cursive;
	position: absolute;
	left: 5vw;
	top: 0.4vw;
	margin: 0px;
	padding: 0px;
	background-color: #9cab64;
	text-shadow: 0.5px 0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000,
    0px 0.5px 0 #000,
    0px -0.5px 0 #000,
    -0.5px 0px 0 #000,
    0.5px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    0.5px 1px 0 #000,
    -0.5px 1px 0 #000,
    0.5px -1px 0 #000,
    -0.5px -1px 0 #000,
    1px 0.5px 0 #000,
    -1px 0.5px 0 #000,
    1px -0.5px 0 #000,
    -1px -0.5px 0 #000;
}

.loco {
	border: 1px solid black;
}
.logowsp {
	
	height: 2.56vw;
	width:  3.6vw;
}
.caja {
	padding: 20px;
	background-color: #9cab64;
	height: 5.5vw;
	width: all;
}

.whatsapp {
    padding: 0vw 1vw 0vw 1vw;
    border-radius: 10px;
    border: 2px solid black;
	position: absolute;
	margin: 0px;
	right: 2vw;
	top: 2vw;
	font-size: 3vw;
	font-family: 'Bebas Neue', cursive;
	color: white;
    background-color: #00bb2d;
	text-shadow: 0.5px 0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000,
    0px 0.5px 0 #000,
    0px -0.5px 0 #000,
    -0.5px 0px 0 #000,
    0.5px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    0.5px 1px 0 #000,
    -0.5px 1px 0 #000,
    0.5px -1px 0 #000,
    -0.5px -1px 0 #000,
    1px 0.5px 0 #000,
    -1px 0.5px 0 #000,
    1px -0.5px 0 #000,
    -1px -0.5px 0 #000;
}
.Instagram {
    border:2px solid black;
    border-radius: 10px;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
	position: absolute;
	text-decoration: none;
	font-size: 3vw;
	right: 20.5vw;
	top: 2vw;
	margin: 0px;
	padding: 0vw 1vw 0vw 1vw;
	font-family: 'Bebas Neue', cursive;
	color: white;
    background-color: #9cab64;
	text-shadow: 0.5px 0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000,
    0px 0.5px 0 #000,
    0px -0.5px 0 #000,
    -0.5px 0px 0 #000,
    0.5px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    0.5px 1px 0 #000,
    -0.5px 1px 0 #000,
    0.5px -1px 0 #000,
    -0.5px -1px 0 #000,
    1px 0.5px 0 #000,
    -1px 0.5px 0 #000,
    1px -0.5px 0 #000,
    -1px -0.5px 0 #000;
}

.Facebook {
    border-radius: 10px;
    border: 2px solid black;
	font-size: 3vw;
	text-decoration: none;
	position: absolute;
	right: 37vw;
	top: 2vw;
	margin: 0px;
	padding: 0vw 1vw 0vw 1vw;
	font-family: 'Bebas Neue', cursive;
	color: white;
    background-color: #3b5998;
	text-shadow: 0.5px 0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000,
    0px 0.5px 0 #000,
    0px -0.5px 0 #000,
    -0.5px 0px 0 #000,
    0.5px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    0.5px 1px 0 #000,
    -0.5px 1px 0 #000,
    0.5px -1px 0 #000,
    -0.5px -1px 0 #000,
    1px 0.5px 0 #000,
    -1px 0.5px 0 #000,
    1px -0.5px 0 #000,
    -1px -0.5px 0 #000;
}

.center {
    margin: 3vw;
    display: block;
    margin-left: auto;
     margin-right: auto;
     width: 50%;
     border: 1px solid black;
}

